/* Design du footer */

footer {
    margin-top: 162px;
    .text-footer {
        text-align: center;
        font-size: 14px;
    }
    .social-footer{
        text-align: center;
        margin: 50px 0;
    }
    .social-item{
        padding: 20px;
    }
}